<!DOCTYPE html>
<html lang="es">
    <%- include('./partial/head.ejs',{css : "../css/style.css"}) %>
<body >
    <%- include('./partial/header.ejs') %>
    <main>
         <%- include('./partial/menuItemdetail.ejs',{poke: poke}) %>   
    </main>
</body>
</html>