<article class="item-menu">
    <h2><%= poke.nombre %></h2>
    <div>
        <img src="../<%= poke.image %>" alt="Imagen del pokefran" srcset="">
    </div>
    <p>
        <%= poke.tipo %>
    </p>
    <a href="/detail/<%= poke.id %>">Detalles</a>
</article>