<article class="item-menu detail">
    <h2><%= poke.nombre %></h2>
    <div class="item-menu-more">
        <div>
            <img src="../<%= poke.image %>" alt="Imagen del pokefran" srcset="">
        </div>
        <p>
            <%= poke.tipo %>
        </p> 
    </div>

</article>